.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4D4F66;
    padding-top: 20px;
    color: #fff; ;
  }

  .sidebar{
    font-size: 20px;
    list-style: none;
  }

  .sidebar li:hover {
    color: #000;
    cursor: pointer;
  }

  .sidebar li {
    padding: 20px;
  }