.sidebar {
    height: 100vh;
    width: 225px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4D4F66;
    /* padding-top: 20px; */
    color: #fff; ;
   
  }

  .sidebar{
    font-size: 20px;
    list-style: none;
  }

  .sidebar li:hover {
    color: #000;
    cursor: pointer;
  }

  .sidebar li {
    padding: 20px;
    
  }

  .linkStyle:hover {
    color: #000;
    cursor: pointer;
  }
  .linkStyle{
    text-decoration: none;
    color: #fff;
  }

  .sidebarIcons{
    padding:10px;
    width: 40px;
    height: 40px;
  }

  .sideBarText{
    display: block;
  }

  .sideBarLogo {
    width: 225px; 
    height: 153px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }