.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%; /* Position from left edge */
    top: 50%; /* Position from top edge */
    transform: translate(-50%, -50%); /* Center the modal */
    width: 470px; /* Set width */
    height: 650px; /* Set height */
    background-color:#30324B;
    /* background-color: rgba(0, 0, 0, 0.4); Black with opacity */
    border-radius: 10px;
   
}

  
  /* Modal Content/Box */
  .modalcontent {
    margin-top: 20px;
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-top: -28px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .container {
    padding: 16px;
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: 365px;
    height: 70px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .bt {
    margin: 8px 0;
    border-radius:20px;
    cursor: pointer;
    width: 365px;
    height: 70px;
    border: none;
    font-size: 20px;
    background-color:#616387;
     color: #fff;
  }

  .bt:hover{
    background-color: #8c7ac0;
   
  }

  p {
    font-size: 20px;
  }
  p:hover {
    color: #000;
    cursor: pointer;
  }

  .label {
    display: block; /* Ensure each label appears on its own line */
    font-weight: bold; /* Make the label text bold */
    margin-bottom: 5px; /* Add some spacing between the label and the select element */
  }
  
  /* CSS for select */
  .select {
    width: 365px; 
    padding: 8px; /* Add some padding inside the select box */
    font-size: 16px; /* Set the font size */

    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  /* CSS for select options */
  .select option {
    font-size: 16px; /* Set the font size for options */
  }