.searchbar {
    width: 518px;
    height: 65px;
    border: 2px solid #ccc; 
    border-radius: 50px; 
    padding: 10px; 
    box-sizing: border-box; 
    font-size: 16px; 
    flex :0 0 auto;
    box-sizing: border-box;
    margin-left: auto;
}

/* Style for the search input field */
.searchbar input[type="text"] {
    width: calc(100% - 20px); 
    height: 100%; 
    border: none; 
    outline: none;
    font-size: inherit; 
}

.container {
    display: flex;
}